*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #212121; }

.header-main-block {
  color: #1dd3ae; }
  .header-main-block h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.25; }
  .header-main-block p {
    font-weight: 200; }

.header-contact-block {
  color: #1dd3ae; }
  .header-contact-block h2 {
    font-weight: 400; }

.contact-font {
  color: #1dd3ae;
  font-weight: 200;
  float: left; }

.logo-block {
  position: absolute;
  float: right;
  display: block; }

.logo-block__logo {
  margin: 2rem;
  height: 6rem;
  width: auto; }

.icon-block {
  float: right;
  margin: 3rem 5rem; }
  .icon-block ion-icon {
    color: #1dd3ae;
    margin-right: 1rem; }
    .icon-block ion-icon:hover {
      box-shadow: 0 0 0;
      background-color: transparent;
      background-clip: text;
      -webkit-background-clip: none; }
    .icon-block ion-icon:active {
      color: cyan; }
  .icon-block a {
    color: transparent; }

.button {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s; }
  .button:hover {
    background-color: #1dd3ae;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: 0px 5px 15px white;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px); }
  .button:active {
    background-color: #19b697;
    box-shadow: 1px 2px 5px whitesmoke;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px); }

.button__contact-btn {
  width: 30%;
  float: right;
  background-color: white;
  color: #1dd3ae;
  padding: 1rem; }
  .button__contact-btn:hover {
    transform: translateY(-3px);
    background-color: #1dd3ae;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px); }
  .button__contact-btn:active {
    background-color: #19b697;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px); }
  .button__contact-btn--close {
    padding-bottom: -5rem;
    margin: 0;
    padding-bottom: -2rem;
    position: absolute;
    top: 5rem;
    right: 10rem;
    color: #1dd3ae;
    font-size: 4rem;
    float: right; }
    .button__contact-btn--close::after {
      margin: 0;
      padding: 0; }
    .button__contact-btn--close:hover::before {
      transition: all 0.3s;
      color: white;
      background-color: #1dd3ae;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s; }

.u-center {
  text-align: center; }

header {
  position: relative;
  background-image: linear-gradient(rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.7)), url("../img/my_background.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header-main-block {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
  border-radius: 3rem;
  padding: 3rem;
  padding-top: 0rem;
  border: 1px solid #19b697;
  background-image: linear-gradient(to right bottom, #1dd3ae, #16fc3c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .header-main-block h1 {
    margin: 4rem auto; }
  .header-main-block:hover {
    cursor: pointer;
    background-clip: none;
    -webkit-background-clip: none;
    color: turquoise;
    box-shadow: 20px 20px 20px rgba(25, 182, 151, 0.4); }
  .header-main-block:active {
    color: whitesmoke; }

.header-contact-block {
  position: absolute;
  bottom: 10%;
  right: 5%;
  display: block;
  padding: 1rem 1.7rem;
  border-radius: 200px;
  border: 1px solid #1dd3ae;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px; }

.contact-body {
  margin: 0;
  padding: 0;
  background-color: white; }

.contact-form {
  width: 50%;
  margin: 0 auto; }

input,
.message {
  color: #19b697;
  font-weight: 400;
  width: 100%;
  padding: 5px;
  border: 1px solid #1dd3ae;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px; }

.message {
  resize: none;
  height: 15rem; }

.contact-header {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #1dd3ae;
  font-weight: 200; }
