.contact-body {
  background-color: whitesmoke;
}

.contact-section {
  padding: 0;
  margin: 0;
  text-align: center;
}

.contact-header {
  display: inline-block;
  font-size: 200%;
  color: $main-color;
  margin-top: 7rem;
  font-weight: 400;
  border-bottom: 2px solid $main-color-dark;
}

.contact-form {
  & > * {
    margin: 0 auto;
    display: block;
  }
}
